<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师首页</title>
    <link rel="stylesheet" href="/css/default/element-plus.dist.index.css" />
    <script src="/js/vue.global.js"></script>
    <script src="/js/index.full.js"></script>
    <script src="/js/vue-router.global.js"></script>
    <style>
        .no-underline {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-row>
                <el-col :span="18">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                        <el-menu-item index="1">
                            <router-link to="/" class="no-underline">首页</router-link>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <router-link to="/announcement" class="no-underline">公告信息</router-link>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <router-link to="/studentThesis" class="no-underline">学生毕业论文</router-link>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <el-link v-if="!username" href="/login">登录</el-link>
                            <el-link v-else href="/login">当前用户：{{ username }}</el-link>
                        </el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="searchInput" placeholder="搜索论文" class="search-input"></el-input>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <router-view></router-view>
        </el-main>
    </el-container>
</div>
<script src="/js/axios.min.js"></script>
<script>
    const HomePage = { template: '<div>这是首页</div>' }
    const AnnouncementPage = { template: '<div>这是公告信息页面</div>' }
    const PersonalPage = {
        template: `
          <div>
            <h1 style="text-align: center;">个人资料</h1>
            <el-form ref="form" :model="form" label-width="120px" class="centered-form">
              <el-form-item label="姓名">
                <el-input v-model="form.teacherName"></el-input>
              </el-form-item>
              <el-form-item label="邮箱">
                <el-input v-model="form.email"></el-input>
              </el-form-item>
              <el-form-item label="电话">
                <el-input v-model="form.phone"></el-input>
              </el-form-item>
            </el-form>
          </div>
        `,
        data() {
            return {
                form: {
                    teacherName: '',
                    email: '',
                    phone: ''
                }
            }
        },
        methods: {
            back() {
                this.$router.push('/')
            },
            fetchProfile() {
                // 发送请求到服务器，获取用户的个人资料
                axios.get('/Teacher/GetProfile')
                    .then(response => {
                        this.form.teacherName = response.data.teacherName;
                        this.form.email = response.data.email
                        this.form.phone = response.data.phone;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        created() {
            this.fetchProfile()
        }
    }
    const StudentThesisPage = {
        template: `
        <div class="centered-content">
            <el-table :data="thesisList" style="width: 100%">
                <el-table-column prop="studentName" label="学生姓名"></el-table-column>
                <el-table-column prop="thesisTitle" label="论文题目"></el-table-column>
                <el-table-column prop="thesisAbstract" label="论文摘要"></el-table-column>
                <el-table-column
                    label="操作"
                    width="120">
                    <template #default="scope">
                        <el-button @click="reviewThesis(scope.row)" type="primary" size="small">审核</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    `,
        data() {
            return {
                thesisList: [] // 你需要从后端获取学生的毕业论文列表
            }
        },
        methods: {
            reviewThesis(thesis) {
                // 这里你需要实现审核论文的逻辑
            },
            fetchThesisList() {
                // 发送GET请求到后端的/api/thesis/list接口
                axios.get('/api/thesis/list', {
                    params: {
                        teacherId: 1 // 这里应该是当前登录的教师的ID
                    }
                })
                    .then(response => {
                        // 将返回的数据赋值给thesisList
                        this.thesisList = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        },
        created() {
            this.fetchThesisList();
        }
    }
    const routes = [
        { path: '/', component: HomePage },
        { path: '/announcement', component: AnnouncementPage },
        { path: '/studentThesis', component: StudentThesisPage },
        { path: '/personal', component: PersonalPage}
    ]

    const app = Vue.createApp({
        setup() {
            const username = Vue.ref('')
            const searchInput = Vue.ref('')
            const activeIndex = Vue.ref('1')
            axios.get('/getUsername')
                .then(response => {
                    username.value = response.data
                })
            const handleSelect = (index, indexPath) => {
                console.log(index, indexPath)
                activeIndex.value = index
            }
            return {
                username,
                searchInput,
                activeIndex,
                handleSelect
            }
        }
    })

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes
    })

    app.use(ElementPlus)
    app.use(router)
    app.mount('#app')
</script>
</body>
</html>