<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="/css/default/element-plus.dist.index.css">
    <style>
        .centered-form {
            width: 50%;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <h1>重置密码</h1>
    <el-form ref="form" :model="form" label-width="120px" class="centered-form">
        <el-form-item label="工号">
            <el-input v-model="form.teacherId"></el-input>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="form.teacherName"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input v-model="form.password" type="password"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">提交</el-button>
            <el-button type="primary" @click="back">返回登录</el-button>
        </el-form-item>
    </el-form>
</div>
<!-- Import Vue 3 -->
<script src="//unpkg.com/vue@3"></script>
<!-- Import component library -->
<script src="//unpkg.com/element-plus"></script>
<script src="/js/axios.min.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                form: {
                    teacherId: '',
                    teacherName: '',
                    password: ''
                }
            }
        },
        methods: {
            onSubmit() {
                // 验证工号，姓名，密码不能为空
                if (!this.form.teacherId || !this.form.teacherName || !this.form.password) {
                    alert('工号，姓名，密码不能为空');
                    return;
                }

                // 验证密码长度不得少于3位
                if (this.form.password.length < 3) {
                    alert('密码长度不得少于3位');
                    return;
                }

                // 发送请求到服务器
                axios.post('/Teacher/ResetPassword', this.form)
                    .then(response => {
                        alert(response.data);
                        window.location.href = response.headers.location;
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            back() {
                window.location.href = '/login';
            }
        }
    })
    app.use(ElementPlus)
    app.mount('#app')
</script>
</body>
</html>