<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台管理界面</title>
  <!-- Import style -->
  <link rel="stylesheet" href="/css/default/element-plus.dist.index.css" />
</head>
<body>
<div id="app">
  <el-container class="layout-container-demo" style="height: 1500px">
    <el-aside width="200px">
      <el-scrollbar>
        <el-menu :default-openeds="['1', '3']">
          <el-menu-item index="1">
            <template #title>
              <el-icon><message></message></el-icon>
              <span style="font-size: larger; font-weight: bold;">后台首页</span>
            </template>
          </el-menu-item>
          <el-menu-item index="2">
            <el-icon><icon-menu></icon-menu></el-icon>轮播图
          </el-menu-item>
          <el-menu-item index="3">
            <el-icon><setting></setting></el-icon>公告信息管理
          </el-menu-item>
          <el-sub-menu index="4">
            <template #title>
            <el-icon><setting></setting></el-icon>用户管理
            </template>
            <el-menu-item index="4-1" @click="loadStudentManagement">学生管理</el-menu-item>
            <el-menu-item index="4-2" @click="loadTeacherManagement">教师管理</el-menu-item>
          </el-sub-menu>
          <el-sub-menu index="5">
            <template #title>
              <el-icon><setting></setting></el-icon>模块管理
            </template>
            <el-menu-item index="5-1">论文题目</el-menu-item>
            <el-menu-item index="5-2">论文文档</el-menu-item>
            <el-menu-item index="5-3">论文指导</el-menu-item>
            <el-menu-item index="5-4">论文成绩</el-menu-item>
            <el-menu-item index="5-5">导师答疑</el-menu-item>
            <el-menu-item index="5-6">评审答辩</el-menu-item>
          </el-sub-menu>
        </el-menu>
      </el-scrollbar>
    </el-aside>
    <el-main v-if="isFormVisible">
<!--      {{ mainContent }}-->
        <el-table :data="mainContent" style="width: 100%">
          <el-table-column prop="id" label="学号" width="180"></el-table-column>
          <el-table-column prop="name" label="姓名" width="180"></el-table-column>
          <el-table-column prop="class" label="班级" width="180"></el-table-column>
          <el-table-column prop="major" label="专业" width="180"></el-table-column>
          <el-table-column
                  label="操作"
                  width="120"
                  fixed="right">
            <template>
              <el-button  @click="editStudent(scope.row)" type="text" size="small">详情</el-button>
            </template>
          </el-table-column>
        </el-table>
    </el-main>
  </el-container>
</div>
<!-- Import Vue 3 -->
<script src=/js/vue.global.js></script>
<!-- Import component library -->
<script src="/js/index.full.js"></script>
<script>
  const app = Vue.createApp({
    setup() {
      const mainContent = Vue.ref('')
      const isFormVisible = Vue.ref(false) // 新增
      const loadStudentManagement = async () => {
        const response = await fetch('/admin/getStudents')
        const students = await response.json()
        mainContent.value = students.map(student => ({
          id: student.studentId,
          name: student.studentName,
          class: student.grade,
          major: student.major,
        }))
        isFormVisible.value = true // 在需要显示表单的时候，将 isFormVisible 的值设置为 true
      }
      const loadTeacherManagement = async () => {
        const response = await fetch('/admin/getTeachers')
        mainContent.value = await response.json()
      }
      return {
        mainContent,
        loadStudentManagement,
        loadTeacherManagement,
        isFormVisible // 新增
      }
    }
  })
  app.use(ElementPlus)
  // app.component('message', Message)
  // app.component('icon-menu', IconMenu)
  // app.component('setting', Setting)

  app.mount('#app')
</script>
</body>
</html>