<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文管理平台</title>
    <link rel="stylesheet" href="/css/default/element-plus.dist.index.css" />
    <script src="/js/vue.global.js"></script>
    <script src="/js/index.full.js"></script>
    <script src="/js/vue-router.global.js"></script>
    <script src="/js/httpVueLoader.js"></script>
    <style>
        .no-underline {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-row>
                <el-col :span="18">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                        <el-menu-item index="1">
                            <router-link to="/" class="no-underline">首页</router-link>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <router-link to="/announcement" class="no-underline">公告信息</router-link>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <router-link to="/thesis-topic" class="no-underline">论文题目</router-link>
                        </el-menu-item>
                        <el-menu-item index="4" type="primary">
                            <el-link v-if="!username" href="./login">登录</el-link>
                            <el-link v-else href="./login">当前用户：{{ username }}</el-link>
                        </el-menu-item>
                        <el-menu-item index="5">
                            <el-link v-if="username">
                                <router-link to="/personal" class="no-underline">用户资料</router-link>
                            </el-link>
                        </el-menu-item>
                        <el-menu-item index="6">
                            <el-link v-if="username">
                                <router-link to="/uploadThesis" class="no-underline">论文上传</router-link>
                            </el-link>
                        </el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="searchInput" placeholder="搜索论文" class="search-input"></el-input>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <router-view></router-view>
        </el-main>
    </el-container>
</div>
<script src="/js/axios.min.js"></script>
<script>
    const HomePage = {
        setup() {
            const images = Vue.ref([
                { id: 1, url: 'https://www.gdpu.edu.cn/tp/2023ztjy.jpg' },
                { id: 2, url: 'https://www.gdpu.edu.cn/tp/yaoyixietong.jpg' },
                { id: 3, url: 'https://www.gdpu.edu.cn/tp/xishuihu.jpg' }
            ]);
            const announcements = Vue.ref([
            ]);

            const fetchProfile = () => {
                // 发送请求到服务器，获取轮播图和公告信息
                axios.get('/getImages')
                    .then(response => {
                        // images.value = response.data;
                        //添加获取的图片到images数组
                        for (let i = 0; i < response.data.length; i++) {
                            images.value.push(response.data[i]);
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
                axios.get('/getAnnouncements')
                    .then(response => {
                        // announcements.value = response.data;
                        //添加获取的公告信息到announcements数组
                        for (let i = 0; i < response.data.length; i++) {
                            announcements.value.push(response.data[i]);
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            };

            // 在 setup 函数中调用 fetchProfile
            fetchProfile();

            return {
                images,
                announcements
            };
        },
        template: `
        <div>
          <el-carousel height="300px">
            <el-carousel-item v-for="image in images" :key="image.id">
              <img :src="image.url" :alt="'Image ' + image.id">
            </el-carousel-item>
          </el-carousel>
            <el-divider></el-divider>
            <h2>公告信息</h2>
            <el-card class="box-card" v-for="announcement in announcements" :key="announcement.id">
                <div slot="header" class="clearfix">
                    <span>{{ announcement.title }}</span>
                </div>
                <div>{{ announcement.content }}</div>
            </el-card>
        </div>
    `
    }
    const AnnouncementPage = {
        template: `
          <div>
            <h2>公告信息</h2>
            <el-card class="box-card" v-for="announcement in announcements" :key="announcement.id">
              <div slot="header" class="clearfix">
                <span>{{ announcement.title }}</span>
              </div>
              <div>{{ announcement.content }}</div>
            </el-card>
          </div>
    `,
        setup() {
            const announcements = Vue.ref([
            ]);

            const fetchProfile = () => {
                axios.get('/getAnnouncements')
                    .then(response => {
                        // announcements.value = response.data;
                        //添加获取的公告信息到announcements数组
                        for (let i = 0; i < response.data.length; i++) {
                            announcements.value.push(response.data[i]);
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            };

            // 在 setup 函数中调用 fetchProfile
            fetchProfile();
            return {
                announcements
            };
        }
    }
    const ThesisTopicPage = {
        setup(){
            const searchInput = Vue.ref(''); // 存储搜索输入
            const thesisList = Vue.ref([]); // 存储论文列表

            const searchThesis = () => {
                // 发送请求到服务器，搜索论文
                axios.get('/searchThesis', {
                    params: {
                        keyword: searchInput.value
                    }
                })
                    .then(response => {
                        thesisList.value = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            };

            const fetchThesisList = () => {
                // 发送请求到服务器，获取论文列表
                axios.get('/getThesisList')
                    .then(response => {
                        thesisList.value = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            };

            // 在组件创建时，获取论文列表
            fetchThesisList();

            return {
                searchInput,
                thesisList,
                searchThesis
            };
        },
        template: `
        <div>
            <h2>论文列表</h2>
            <el-input v-model="searchInput" placeholder="搜索论文" class="search-input" @keyup.enter.native="searchThesis"></el-input>
            <el-table :data="thesisList" style="width: 100%">
                <el-table-column prop="title" label="论文标题"></el-table-column>
                <el-table-column prop="teacher.teacherName" label="作者"></el-table-column>
                <el-table-column prop="content" label="摘要"></el-table-column>
                <el-table-column label="操作">
                    <template #default="scope">
                        <el-button @click="viewThesis(scope.row.id)">查看详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    ` }
    const PersonalPage = {
        template: `
          <div>
            <h1 style="text-align: center;">个人资料</h1>
            <p style="text-align: center;">在这里，你可以编辑你的个人资料并保存。</p>
            <el-form ref="form" :model="form" label-width="120px" class="centered-form">
              <el-form-item label="姓名">
                <el-input v-model="form.studentName"></el-input>
              </el-form-item>
              <el-form-item label="邮箱">
                <el-input v-model="form.email"></el-input>
              </el-form-item>
              <el-form-item label="电话">
                <el-input v-model="form.phone"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">保存设置</el-button>
                <el-button type="primary" @click="back">返回</el-button>
              </el-form-item>
            </el-form>
          </div>
        `,
        data() {
            return {
                form: {
                    studentName: '',
                    email: '',
                    phone: ''
                }
            }
        },
        methods: {
            onSubmit() {
                // 验证姓名不能为空
                if (!this.form.studentName) {
                    alert('姓名不能为空');
                    return;
                }
                // 发送请求到服务器，保存用户的设置
                axios.post('/User/UpdateProfile', this.form)
                    .then(response => {
                        console.log(response)
                    })
            },
            back() {
                this.$router.push('/')
            },
            fetchProfile() {
                // 发送请求到服务器，获取用户的个人资料
                axios.get('/User/GetProfile')
                    .then(response => {
                        this.form.studentName = response.data.studentName;
                        this.form.email = response.data.email
                        this.form.phone = response.data.phone;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        created() {
            this.fetchProfile()
        }
    }
    const UploadPage = {
        template: `
          <div>
            <el-upload
                class="upload-demo"
                action="/api/thesis/upload"
                :on-success="handleSuccess"
                :before-upload="beforeUpload">
              <el-button type="primary" :loading="uploading">点击上传</el-button>
            </el-upload>

            <div v-html="previewContent"></div>
          </div>
        `,
        data() {
            return {
                uploading: false,
                previewContent: ''
            };
        },
        methods: {
            beforeUpload(file) {
                this.uploading = true;
                return true;
            },
            handleSuccess(response, file) {
                this.uploading = false;
                if (response && response.fileDownloadUri) {
                    // Assuming the response contains the fileDownloadUri for preview
                    this.loadPreview(response.fileDownloadUri);
                }
            },
            loadPreview(fileDownloadUri) {
                // Make a GET request to fetch the file content for preview
                this.$axios.get(`/api/thesis/preview/${fileDownloadUri}`)
                    .then(response => {
                        this.previewContent = response.data;
                    })
                    .catch(error => {
                        console.error('Error loading preview:', error);
                    });
            }
        }
    }

    const routes = [
        { path: '/', component: HomePage },
        { path: '/announcement', component: AnnouncementPage },
        { path: '/thesis-topic', component: ThesisTopicPage },
        { path: '/personal', component: PersonalPage},
        { path: '/uploadThesis', component: UploadPage}
    ]

    const app = Vue.createApp({
        setup() {
            const username = Vue.ref('')
            const searchInput = Vue.ref('')
            const activeIndex = Vue.ref('1')
            axios.get('/getUsername')
                .then(response => {
                    username.value = response.data
                })
            const handleSelect = (index, indexPath) => {
                console.log(index, indexPath)
                activeIndex.value = index
            }
            return {
                username,
                searchInput,
                activeIndex,
                handleSelect
            }
        }
    })

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes
    })

    app.use(ElementPlus)
    app.use(router)
    app.mount('#app')
</script>
</body>
</html>